.container .cart {
    display: flex;
    flex-direction: row;
    gap: 60px;
    width: 100%;
    padding-top: 200px;
}



.cart .product-list {
    max-width: 720px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-bottom: 1px solid black
}

.cart .product-list .product-cart {
    display: flex;
    flex-direction: row;
    gap: 30px;
    border-bottom: 1px solid rgba(68, 68, 68, 10%);
    padding-bottom: 30px;
    position: relative;
}

.cart .product-list .product-cart .photo {
    max-width: 130px;
    height: 140px;
    background: rgba(241, 242, 243, 1);
    width: 100%;

}

.cart .product-list .product-cart .product-info {
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

.cart .product-list .product-cart .product-info .name {
    width: 100%;
}

.cart .product-list .product-cart .product-info .filling {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cart .product-list .product-cart .product-info .price-quantity {
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.cart .product-list .product-cart .product-info .price-quantity .price {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.price-finish .new-price {
    font-family: Josefin Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
}


.cart .product-list .product-cart .product-info .price-quantity .quantity {
    display: flex;
    flex-direction: row;
    width: 109px;
    height: 50px;
    background: rgba(248, 248, 251, 1);
    align-items: center;
    justify-content: space-between;
    padding: 7px 21px;
}

.cart .product-list .product-cart .product-info .price-quantity .quantity .symbol {
    align-items: center;
}

.close {
    position: absolute;
    color: rgba(68, 68, 68, 10%);
    height: 25px;
    width: 25px;
    border: 1px solid;
    padding: 2px 7px;
    top: 0;
    right: 0;
}


.cart .order {
    max-width: 360px;
    width: 100%;
    padding: 40px;
    border: 1px solid rgba(68, 68, 68, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart .order .title {
    font-family: Josefin Sans;
    font-size: 32px;
    font-weight: 400;
}

.cart .order .order-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart .order .order-content .price-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 280px;
    width: 100%;
    border-bottom: 1px solid rgba(68, 68, 68, 10%);
    padding-bottom: 15px;
}

.cart .order .order-content .price-row .name {
    width: 100%;
}

.cart .order .order-content .price-row .price {
    font-family: Josefin Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(68, 68, 68, 1);
}

.cart .order .order-content .price-row.dilimiter {
    border-bottom: 2px solid rgba(0, 0, 0, 1);
}

.cart .order .order-content .price-row.total {
    border-bottom: unset;
    align-items: center;
    padding: unset;
}

.cart .order .order-content .price-row.total .name {
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
}

.cart .order .order-content .price-row.total .price {
    font-size: 25px;
    font-weight: 400;
    line-height: 25px;
    color: rgba(0, 0, 0, 1);
}

.cart .order .order-content .buttom {
    max-width: unset;
    align-items: center;
    color: white;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    background: rgba(0, 0, 0, 1);
    padding: 17px 74px;
    width: 100%;
    text-align: center;
}


.buttom .button-wrapper {
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.container .promo-code {
    padding-top: 60px;
    max-width: 375px;
    width: 100%;
    height: 303px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.promo-code .description {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.promo-code .description .titlle {
    font-family: Josefin Sans;
    font-size: 32px;
    font-weight: 400;
}

.promo-code .description .text {
    font-size: 16px;
    font-weight: 400;
}


.promo-code .search {
    max-width: 334px;
    width: 100%;
    display: flex;
    gap: 30px;

}

.promo-code .search .search-box {
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(68, 68, 68, 20%);
    max-width: 250px;
    width: 100%;
    display: flex;
    align-items: center;
}


.promo-code .search .search-box .search-input {
    border: none;
}

.search-box .search-bar .search-input {
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    ;
}


.promo-code .socials {
    padding: 0;
}

.search .buttom .button-wrapper .button {
    padding: 17px;
    width: 54px;
}

.gray-line{
    width: 100%;
    height: 20px;
    background: rgba(238, 238, 238, 1);
    margin: 250px 0 30px ;
}