.first-screen {
    margin: 50px 0 0 0;
    display: flex;
    gap: 150px;
    width: 100%;
}


.first-screen .right-img {
    width: 800px;
    height: 400px;
    background: rgba(241, 242, 243, 1);
    margin: 0 0 0 0;
}

.first-screen .left-content {
    width: 850px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
}

.square {
    position: absolute;
    padding-top: 30px;
    top: 0;
    left: 0;
}

.first-screen .left-content .headline {
    position: absolute;
    max-width: 850px;
    width: 100%;

}

.headline {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 21px;
    font-family: Josefin Sans;
    font-size: 80px;
    font-weight: 400;
    position: relative;
}

.black-line {
    max-width: 850px;
    width: 100%;
    height: 2px;
    background: rgba(0, 0, 0, 1);
    position: absolute;
    bottom: 0;
    right: 60px;
}

.h1 {
    font-family: Josefin Sans;
    font-size: 80px;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.subtitle {
    display: flex;
    flex-direction: row;
    gap: 12px;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 500;
    padding: 0 0 20px;
    max-width: 850px;
    width: 100%;
    justify-content: center;
}

.subtitle .line {
    width: 2px;
    height: 15px;
    background: rgba(0, 0, 0, 1);
    align-items: center;
}

.subtitle {
    cursor: pointer;
}

.act {
    color: rgba(255, 142, 142, 1);
}

.active:active {
    color: rgba(255, 142, 142, 1);
}

.active:hover {
    color: rgba(255, 142, 142, 1);
}