.footer {
    display: flex;
    flex-direction: column;
    position: relative;
}

.footer-container {
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    margin: 110px 0 0 0;
}


.footer-info .square {
    position: absolute;
    top: 0;
    left: 30px;
}

.columns {
    display: flex;
}

.logo-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 23.8px;

}

.heading-column {
    font-family: Josefin Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;

}


.list-column {
    font-size: 14px;
    font-weight: 400;
    line-height: 23.8px;
    color: rgba(119, 119, 119, 1);

}

.link-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 27.2px;

}

.footer .footer-info .column-1 {
    display: flex;
    flex-direction: column;
    max-width: 331px;
}

.footer .footer-info .column-1 .logo {
    padding: 0 0 25px 0;
}

.logo-description {
    padding: 0 0 25px 0;
    border-bottom: 1px solid #444444;
    color: rgba(119, 119, 119, 1);
}

.socials {
    padding: 35px 0 0 0;
}

.socials .link-text {
    padding: 0 0 20px 0;
}

.links {
    display: flex;
    gap: 15px;
    padding: 0 0 91px 0;
}

.link a {
    font-size: 12px;
    font-weight: 600;
    line-height: 14.09px;
    color: rgba(68, 68, 68, 1);
    text-decoration: none;
}

.links .line {
    display: flex;
    gap: 15px;
    align-items: center;
}

.column-2 {
    padding: 0 0 0 120px
}

.heading-column {
    padding: 0 0 20px 0;


}

.Heading-list {
    padding-bottom: 20px;
}

.column-3 {
    padding: 0 0 0 123px
}

.column-4 {
    max-width: 361px;
    padding: 0 0 0 83px;
}

.square_big {
    position: absolute;
    top: 85px;
    right: 30px;
}

.Newsletter-discription {
    font-size: 14px;
    font-weight: 400;
    line-height: 23.8px;
    color: rgba(119, 119, 119, 1);
}

.buttom {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #444444;
}

.form {
    padding: 36px 0 16px 0;
    opacity: 0.5;

}

.send {
    padding: 36px 0 0 0;
}

.form-email {
    border: none;
}

.copyright {
    font-size: 14px;
    font-weight: 400;
    line-height: 23.8px;
    color: rgba(68, 68, 68, 1);
}

.payment-methods-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 23.8px;
    color: rgba(68, 68, 68, 1);
}

.footer .bottom-bar {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    border-top: 1px solid #444444;
    padding-top: 23px;
}

.footer .bottom-bar .payment-methods-text {
    display: flex;
    gap: 13px;
    /* align-items: center; */
}

.footer .bottom-bar .payment-methods-text .pay-methods {
    display: flex;
    gap: 8px;

}