header {
    max-width: 1800px;
    margin: 50px auto 0 auto;
    display: flex;
    gap: 65px;
    justify-content: space-between;
}



.header .left-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.header .left-side .logo-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}



.header .left-side .logo-container .burger-checkbox {
    position: absolute;
    visibility: hidden;
}

.header .left-side .logo-container .burger {
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 22px;
    height: 14px;
}

.header .left-side .logo-container .burger::before,
.header .left-side .logo-container .burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: -5px;
    background: #000;
}

.header .left-side .logo-container .burger::before {
    top: 0;
    box-shadow: 0 11px 0 #000;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}

.header .left-side .logo-container .burger::after {
    bottom: 6.5px;
    transition: bottom .3s .15s, transform .3s;
}

.header .left-side .logo-container .burger-checkbox:checked+.burger::before {
    top: 6px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
}

.header .left-side .logo-container .burger-checkbox:checked+.burger::after {
    bottom: 6px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
}



.header .menu {
    display: flex;
    gap: 40px;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;

}

.menu .menu-items:active {
    color: #FF8E8E;
}

.header .left-side .menu .menu-items .arrow-pink {
    display: none;
}

.header .left-side .menu .menu-items.active,
.header .left-side .menu .menu-items:hover {
    color: #FF8E8E;
}

header .left-side .menu .menu-items.active .arrow-black {
    display: none;
}

header .left-side .menu .menu-items.active .arrow-pink {
    display: inline-block;
}

.header .left-side .menu .menu-items:hover .arrow-pink {
    display: inline-block;
}

.header .left-side .menu .menu-items:hover .arrow-black {
    display: none;
}

.activation:active {
    color: #FF8E8E;
    text-decoration: underline;
}


.header .right-side .icons {
    display: flex;
    gap: 40px;
    align-items: center;
}

.header .right-side .icons .heart {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.header .right-side .icons .heart .circle-box {
    display: flex;
    flex-direction: row;
}

header .right-side .icons .shop-bag {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.header .right-side .icons .shop-bag.circle-box .circle {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.circle {
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 22px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid black;
    background: black;
    color: white;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
}

.header .left-side .right-side .first-screen {
    display: flex;
    flex-direction: column;
    gap: 50px;
}